<table cellspacing="0">
  <thead>
    <tr>
      <th>Company</th>
      <th>Location</th>
      <th>Stack</th>
      <th>Title</th>
      <th>Base</th>
      <th>Bonus</th>
      <th>Perks</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="salary in salaries">
        <td>{{ salary.company }}</td>
        <td>{{ salary.city }}</td>
        <td class="stack-row"><div ng-repeat="stack in salary.stack" class="stack-item">{{ stack }}</div></td>
        <td>{{ salary.title }}</td>
        <td>{{ salary.base | currency:undefined:0 }}</td>
        <td>{{ salary.bonus }}</td>
        <td class="perks-row"><div ng-if="salary.perks" class="perks-item">Available</div></td>
      </tr>
      <tr ng-repeat="salary in salaries">
        <td>{{ salary.company }}</td>
        <td>{{ salary.city }}</td>
        <td class="stack-row"><div ng-repeat="stack in salary.stack" class="stack-item">{{ stack }}</div></td>
        <td>{{ salary.title }}</td>
        <td>{{ salary.base | currency:undefined:0 }}</td>
        <td>{{ salary.bonus }}</td>
        <td class="perks-row"><div ng-if="salary.perks" class="perks-item">Available</div></td>
      </tr>
      <tr ng-repeat="salary in salaries">
        <td>{{ salary.company }}</td>
        <td>{{ salary.city }}</td>
        <td class="stack-row"><div ng-repeat="stack in salary.stack" class="stack-item">{{ stack }}</div></td>
        <td>{{ salary.title }}</td>
        <td>{{ salary.base | currency:undefined:0 }}</td>
        <td>{{ salary.bonus }}</td>
        <td class="perks-row"><div ng-if="salary.perks" class="perks-item">Available</div></td>
      </tr>
      <tr ng-repeat="salary in salaries">
        <td>{{ salary.company }}</td>
        <td>{{ salary.city }}</td>
        <td class="stack-row"><div ng-repeat="stack in salary.stack" class="stack-item">{{ stack }}</div></td>
        <td>{{ salary.title }}</td>
        <td>{{ salary.base | currency:undefined:0 }}</td>
        <td>{{ salary.bonus }}</td>
        <td class="perks-row"><div ng-if="salary.perks" class="perks-item">Available</div></td>
      </tr>
  </tbody>
</table>
