.logo-main {
  margin-top: -12px;
  display: flex; }
  .logo-main .logo-title {
    color: white !important;
    text-transform: none; }
  .logo-main .icon {
    font-size: 36px;
    line-height: 56px;
    color: white;
    padding-right: 8px; }

header .header-text {
  margin-top: -30px;
  margin-bottom: 30px; }

.rw-sentence {
  margin: 0; }
  .rw-sentence span {
    white-space: nowrap; }

.rw-words {
  display: inline-block;
  text-indent: 10px;
  margin-bottom: -7px; }
  .rw-words span {
    top: 0;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    color: tomato; }
  .rw-words span:nth-child(2) {
    animation-delay: 3s; }
  .rw-words span:nth-child(3) {
    animation-delay: 6s; }
  .rw-words span:nth-child(4) {
    animation-delay: 9s; }
  .rw-words span:nth-child(5) {
    animation-delay: 12s; }
  .rw-words span:nth-child(6) {
    animation-delay: 15s; }

.rw-words-1 {
  width: 180px; }
  .rw-words-1 span {
    left: -95px;
    animation: rotateWordsFirst 18s linear infinite 0s; }

.rw-words-2 {
  width: 200px; }
  .rw-words-2 span {
    left: 286px;
    animation: rotateWordsFirst 18s linear infinite 0s; }

@keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    height: 0px; }
  8% {
    opacity: 1;
    height: 60px; }
  19% {
    opacity: 1;
    height: 60px; }
  20% {
    opacity: 0.3;
    height: 30px; }
  22% {
    opacity: 0;
    height: 0px; }
  100% {
    opacity: 0; } }

.salary-data {
  margin: 1rem; }
  .salary-data .stack-row {
    display: inline;
    padding: 5px; }
    .salary-data .stack-row .stack-item {
      display: inline-block;
      border: 1px solid #bebebe;
      border-radius: 5px;
      padding: 5px;
      margin: 5px 4px 5px 4px; }
  .salary-data .perks-row {
    display: inline-block; }
    .salary-data .perks-row .perks-item {
      color: white;
      padding: 3px;
      border-radius: 5px;
      background-color: #f9bf3b; }

table {
  border-bottom: 2px solid #454545;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
  color: black; }

table thead,
table tbody,
table tfoot {
  border: 1px solid #f1f1f1;
  background-color: white; }

table caption {
  font-weight: bold;
  padding: 0.5rem 0.625rem 0.625rem; }

table thead,
table tfoot {
  background: #454545;
  color: #0a0a0a; }

table thead tr,
table tfoot tr {
  background: transparent; }

table thead th,
table thead td,
table tfoot th,
table tfoot td {
  color: white;
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left; }

table tbody tr:nth-child(even) {
  background-color: #f9f9f9; }

table tbody th,
table tbody td {
  padding: 0.5rem 0.625rem 0.5rem 0.625rem; }

@media screen and (max-width: 63.9375em) {
  table.stack thead {
    display: none; }
  table.stack tfoot {
    display: none; }
  table.stack tr,
  table.stack th,
  table.stack td {
    display: block; }
  table.stack td {
    border-top: 0; } }

table.scroll {
  display: block;
  width: 100%;
  overflow-x: auto; }

table.hover tr:hover {
  background-color: #f9f9f9; }

table.hover tr:nth-of-type(even):hover {
  background-color: #ececec; }

.table-scroll {
  overflow-x: auto; }

.table-scroll table {
  width: auto; }
